<a href="https://colab.research.google.com/github/hanbiphyun/ESSA_YB/blob/main/ESAA_YB_week1_%ED%95%84%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#넘파이
:선형대수 기반의 프로그램을 쉽게 만들도록 지원하는 패키지

- 루프 사용하지 않고 대량 데이터의 배열 연산 가능
- 저수준 언어 기반의 호환 API제공

>arrary() 함수
- 파이썬의 리스트 같은 다양한 인자를 입력받아 ndarray로 변환 기능 수행
- 생성된 ndarray 배열의 shape 변수는 ndarray의 크기(행, 열의 수)를 튜플형태로 가짐-> 차원 파악
*[] 1차원, [[]] 2차원
- ndarray내의 데이터 타입은 같은 데이터 타입만 가능
-> 다른 데이터 타입 섞인 경우 더 큰 데이터 타입으로 일괄 변환
- ndarray 내 데이터 타입 변경은 astype() 메서드 이용-> 메모리 절약
- ndarray 편리하게 생성 <- arange(), zeres(), ones() 이용
*arange() : 0부터 함수 인자값 -1까지의 값 순차적으로 변환

In [ ]:
import numpy as np

array1 = np.array([1,2,3])
print('array1 type:', type(array1))
print('array1 array 형태:', array1.shape)

array2 = np.array([[1,2,3],
                  [2,3,4]])
print('array2 type:', type(array2))
print('array2 array 형태:', array2.shape)

array3 = np.array([[1,2,3]])
print('array3 type:', type(array3))
print('array3 array 형태:', array3.shape) #1개의 로우와 3개의 칼럼

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

In [ ]:
print('array1: {0}차원, array2: {1}차원, array3: {2}차원'.format(array1.ndim,
                                                           array2.ndim, array3.ndim))

array1: 1차원, array2: 2차원, array3: 2차원

In [ ]:
list1=[1,2,3]
print(type(list1))
array1=np.array(list1)
print(type(array1))
print(array1,array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [ ]:
array_int= np.array([1,2,3])
array_float= array_int.astype('float64')
print(array_float, array_float.dtype)

array_int1= array_float.astype('int32')
print(array_int1, array_int1.dtype)

array_float1= np.array([1.1,2.1,3.1])
array_int2= array_float1.astype('int32')
print(array_int2, array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

In [ ]:
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

zero_array= np.zeros((3,2), dtype='int32') #모두 영으로 만듬
print(zero_array)
print(zero_array.dtype, zero_array.shape)

one_array= np.ones((3,2)) #모두 1로 만듬
print(one_array)
print(one_array.dtype, one_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)
[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

- ndarray의 차원과 크기를 변경하는 reshape()
-> reshape(-1,1)을 이용해 3->2, 1->2차원 변경

In [ ]:
array1= np.arange(10)
print('array1:\n',array1)

array2= array1.reshape(2,5)
print('array2:\n',array2)

array3= array1.reshape(5,2)
print('array3:\n',array3)

#array1.reshape(4,3) 불가능

array1= np.arange(10)
print(array1)
array2=array1.reshape(-1,5)
print('array2 shape:', array2.shape)
array3= array1.reshape(5,-1)
print('array3 shape', array3.shape)

#array1 = np.arange(10)
#array4 = array1.reshape(-1,4) 불가능

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]
[0 1 2 3 4 5 6 7 8 9]
array2 shape: (2, 5)
array3 shape (5, 2)

In [ ]:
array1 = np.arange(8)
array3d = array1.reshape((2,2,2))
print('array3d:\n', array3d.tolist())

#3차원 ndarray를 2차원 ndarray로 변환
array5 = array3d.reshape(-1,1)
print('array5:\n', array5.tolist())
print('array5 shape:', array5.shape)

#1차원 ndarray를 2차원 ndarray로 변환
array6 = array1.reshape(-1,1)
print('array6:\n', array6.tolist())
print('array6 shape:', array6.shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape: (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape: (8, 1)

- ndarray의 데이터 세트 선택 방법

-> 인덱싱
: 특정 위치의 데이터 추출, 슬라이싱 방식, T/F 값 인덱싱 집합 기준으로 T에 해당하는 데이터의 ndarray 반환

*팬시 인덱싱 : 리스트나 ndarray로 인덱스 집합 지정시 해당 위치의 ndarray 반환
*불린 인덱싱 : 조건 필터링과 검색 동시 가능

In [ ]:
array1= np.arange(start=1,stop=10)
print('array1:',array1)

value=array1[2]
print('value',value)
print(type(value))
print('맨 뒤의 값:', array1[-1], '맨 뒤에서 두 번째 값:', array1[-2])

array1[0]=9
array1[8]=0
print('array1:',array1)

array1: [1 2 3 4 5 6 7 8 9]
value 3
<class 'numpy.int64'>
맨 뒤의 값: 9 맨 뒤에서 두 번째 값: 8
array1: [9 2 3 4 5 6 7 8 0]

In [ ]:
arrray1d= np.arange(start=1,stop=10)
array2d= arrray1d.reshape(3,3)
print(array2d)

print('(row=0, col=0) index 가리키는 값:', array2d[0,0])
print('(row=0, col=1) index 가리키는 값:', array2d[0,1])
print('(row=1, col=0) index 가리키는 값:', array2d[1,0])
print('(row=2, col=2) index 가리키는 값:', array2d[2,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0, col=0) index 가리키는 값: 1
(row=0, col=1) index 가리키는 값: 2
(row=1, col=0) index 가리키는 값: 4
(row=2, col=2) index 가리키는 값: 9

In [ ]:
array1= np.arange(start=1,stop=10)
array3= array1[0:3]
print(array3)
print(type(array3))

array1= np.arange(start=1,stop=10)
array4= array1[:3]
print(array4)

array5= array1[3:]
print(array5)

array6= array1[:]
print(array6)

array1d= np.arange(start=1,stop=10)
array2d= array1d.reshape(3,3)
print('array2d:\n', array2d)

print('array2d[0:2,0:2]\n', array2d[0:2,0:2])
print('array2d[1:3,0:3]\n', array2d[1:3,0:3])
print('array2d[1:3,:]\n', array2d[1:3,:])
print('array2d[:,:]\n', array2d[:,:])
print('array2d[:2,1:]\n', array2d[:2,1:])
print('array2d[:2,0]\n', array2d[:2,0])

print(array2d[0])
print(array2d[1])
print('array2d[0] shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape)

[1 2 3]
<class 'numpy.ndarray'>
[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]
array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2,0:2]
 [[1 2]
 [4 5]]
array2d[1:3,0:3]
 [[4 5 6]
 [7 8 9]]
array2d[1:3,:]
 [[4 5 6]
 [7 8 9]]
array2d[:,:]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2,1:]
 [[2 3]
 [5 6]]
array2d[:2,0]
 [1 4]
[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

In [ ]:
array1d= np.arange(start=1,stop=10)
array2d= array1d.reshape(3,3)

array3= array2d[[0,1],2]
print('array2d[[0,1],2] =>', array3.tolist())

array4= array2d[[0,1],0:2]
print('array2d[[0,1],0:2] =>', array4.tolist())

array5= array2d[[0,1]]
print('array2d[[0,1]] =>', array5.tolist())

array2d[[0,1],2] => [3, 6]
array2d[[0,1],0:2] => [[1, 2], [4, 5]]
array2d[[0,1]] => [[1, 2, 3], [4, 5, 6]]

In [ ]:
array1d= np.arange(start=1,stop=10)
# []안에 array1d > 5 Bloolean indexing 적용
array3 = array1d[array1d > 5]
print('array1d > 5 불린 인덱싱 결과 값 :', array3)

array1d > 5

boolean_indexes=np.array([False,False,False,False,False,True,True,True,True])
array3= array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과 :',array3)

indexes=np.array([5,6,7,8])
array4= array1d[indexes]
print('일반 인덱스로 필터링 결과:',array4)

array1d > 5 불린 인덱싱 결과 값 : [6 7 8 9]
불린 인덱스로 필터링 결과 : [6 7 8 9]
일반 인덱스로 필터링 결과: [6 7 8 9]

##행렬의 정렬
- np.sort() : 넘파이에서 sort() 호출
- ndarray.sort() : 행렬 자체에서 sort() 호출
- argsort() : 정렬된 행렬의 인덱스 반환

In [ ]:
org_array= np.array([3,1,9,5])
print('원본 행렬:', org_array)
#np.sort()로 정렬
sort_array1= np.sort(org_array)
print('np.sort() 호출 후 반환된 정렬 행렬:', sort_array1)
print('np.sort() 호출 후 원본 행렬:', org_array)

#ndarray.sort()로 정렬
sort_array2=org_array.sort()
print('org_array.sort() 호출 후 반환된 행렬:', sort_array2)
print('org_array.sort() 호출 후 원본 행렬:', org_array)

sort_array1_desc= np.sort(org_array)[::-1]
print('내림차순으로 정렬:', sort_array1_desc)

원본 행렬: [3 1 9 5]
np.sort() 호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort() 호출 후 원본 행렬: [3 1 9 5]
org_array.sort() 호출 후 반환된 행렬: None
org_array.sort() 호출 후 원본 행렬: [1 3 5 9]
내림차순으로 정렬: [9 5 3 1]

In [ ]:
#행렬이 2차원 이상일 경우
array2d=np.array([[8,12],
                  [7,1]])
sort_array2d_axis0= np.sort(array2d, axis=0)
print('로우 방향으로 정렬:\n', sort_array2d_axis0)

sort_array2d_axis1= np.sort(array2d, axis=1)
print('칼럼 방향으로 정렬:\n', sort_array2d_axis1)

로우 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
칼럼 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

In [ ]:
#정렬된 행렬의 인덱스를 반환하기
org_array=np.array([3,1,9,5])
sort_indices= np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)

org_array=np.array([3,1,9,5])
sort_indices_desc= np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]
행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [ ]:
import numpy as np

name_array= np.array(['John','Mike','Sarah','Kate','Samuel'])
score_array= np.array([78,95,84,98,88])

sort_indices_asc=np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:',sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:', name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

##선형대수 연산- 행렬 내적과 전치행렬
- 행렬 내적 : 행렬 곱, np.dot()으로 계산

In [ ]:
A=np.array([[1,2,3],
            [4,5,6]])
B=np.array([[7,8],
            [9,10],
            [11,12]])
dot_product=np.dot(A,B)
print('행렬 내적 결과:\n', dot_product)

A=np.array([[1,2],
            [3,4]])
transpose_mat=np.transpose(A)
print('A의 전치 행렬:\n', transpose_mat)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]
A의 전치 행렬:
 [[1 3]
 [2 4]]