<a href="https://colab.research.google.com/github/hanbiphyun/ESSA_YB/blob/main/YB_1010_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%EC%82%AC%EC%9D%B4%ED%82%B7%EB%9F%B02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 데이터 설명 : 비행탑승 경험 만족도
#### x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv
#### x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv
출처 (참고, 데이터 수정)

In [1]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv')

In [ ]:
train.head()

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

In [ ]:
test.head()

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,1,Male,Loyal Customer,28,Business travel,Business,3414,2,2,2,...,2,4,5,4,4,4,2,0,0.0,40819.0
1,16,Female,disloyal Customer,34,Business travel,Eco,2556,1,1,1,...,2,5,1,5,1,3,2,15,0.0,33335.0
2,17,Female,Loyal Customer,23,Personal Travel,Eco,363,2,5,2,...,5,3,2,4,5,4,5,0,0.0,20749.0
3,25,Male,Loyal Customer,55,Business travel,Business,2079,1,1,1,...,1,1,1,1,4,1,3,0,0.0,92194.0
4,27,Female,Loyal Customer,44,Business travel,Eco,192,2,4,5,...,1,1,2,1,5,1,1,23,13.0,13904.0

## 1. MinMaxScaler

### Question. train 데이터의 Age 컬럼을 MinMax 스케일링하여 얻은 값을 age_mm_scaling 컬럼에 추가한 후, train셋과 같은 기준으로 test 데이터의 Age를 스케일링하고 그 결과를 age_mm_scaling 컬럼에 추가하라.

####step1. 'MinMaxScaler'를 사용하기 위한 라이브러리를 import하기

In [2]:
from sklearn.preprocessing import MinMaxScaler

#### step2. MinMaxScaler 객체 생성

In [3]:
scaler=MinMaxScaler()

#### step3. train 데이터의 Age를 2차원 형태로 변환 후 이를 a1이라는 데이터로 저장

In [40]:
a1=train[['Age']].values
a1

array([[54],
       [20],
       [59],
       ...,
       [26],
       [23],
       [35]])

#### step4. MinMaxScaler 객체를 사용하여 데이터를 학습

In [41]:
train_scaled=scaler.fit(a1)

#### step5. 학습된 MinMaxScaler 객체를 사용하여 'Age'열의 데이터를 변환하고, 'age_scaling'컬럼에 추가

In [46]:
train['age_mm_scaling']=scaler.transform(a1)
train['age_mm_scaling']

0        0.602564
1        0.166667
2        0.666667
3        0.358974
4        0.025641
           ...
83118    0.576923
83119    0.628205
83120    0.243590
83121    0.205128
83122    0.358974
Name: age_mm_scaling, Length: 83123, dtype: float64

#### step6. test 데이터에서도 'Age'컬럼을 추출하여 2차원 배열 형태로 변환하고, 학습된 MinMaxScaler 객체를 사용하여 test 데이터의 'Age'열을 변환 후 이를 'age_mm_scaling'컬럼에 추가

In [47]:
a2=test[['Age']].values
a2
test['age_mm_scaling']=scaler.transform(a2)
test['age_mm_scaling']

0        0.269231
1        0.346154
2        0.205128
3        0.615385
4        0.474359
           ...
20776    0.653846
20777    0.025641
20778    0.500000
20779    0.358974
20780    0.525641
Name: age_mm_scaling, Length: 20781, dtype: float64

## 2. StandardScaler

### Question. train 데이터의 Age 컬럼을 sklearn 모듈을 활용하여 정규화 스케일링한 결과를 age_s_scaling 컬럼에 추가한 후, train셋과 같은 기준으로 test 데이터의 Age를 스케일링하여 age_s_scaling 컬럼에 추가하라.

#### step1. 'StandScaler'를 사용하기 위한 라이브러리를 import하기

In [10]:
from sklearn.preprocessing import StandardScaler

#### step2. StandardScaler 객체 생성

In [11]:
scaler_s=StandardScaler()

#### step3. train 데이터의 Age를 2차원 형태로 변환 후 이를 a1라는 데이터로 저장

In [28]:
a1=train[['Age']].values
a1

array([[54],
       [20],
       [59],
       ...,
       [26],
       [23],
       [35]])

#### step4. StandScaler 객체를 사용하여 데이터를 학습

In [29]:
train_scaled=scaler_s.fit(a1)

#### step5. 학습된  StandardScaler 객체를 사용하여 'Age'열의 데이터를 변환하고, 'age_s_scaling'컬럼에 추가

In [30]:
train['age_s_scaling']=scaler_s.transform(a1)
train['age_s_scaling']

0        0.969366
1       -1.281932
2        1.300439
3       -0.288712
4       -2.010293
           ...
83118    0.836936
83119    1.101795
83120   -0.884644
83121   -1.083288
83122   -0.288712
Name: age_s_scaling, Length: 83123, dtype: float64

#### step6. test 데이터에서도 'Age'컬럼을 추출하여 2차원 배열 형태로 변환하고, 학습된 StandardScaler 객체를 사용하여 test데이터의 'Age'열을 변환 후 'age_s_scaling'컬럼에 추가

In [34]:
a2=test[['Age']].values
a2
test['age_s_scaling']=scaler_s.transform(a2)
test['age_s_scaling']

0       -0.756647
1       -0.359539
2       -1.087570
3        1.030338
4        0.302307
           ...
20776    1.228892
20777   -2.014155
20778    0.434676
20779   -0.293355
20780    0.567046
Name: age_s_scaling, Length: 20781, dtype: float64

#### train 데이터에 추가된 age_mm_scaling 칼럼과 age_s_scaling 칼럼 확인하기

In [48]:
train.head()

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id,age_scaling,age_s_scaling,age_mm_scaling
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,3,5,3,47,22.0,NaN,0.602564,0.969366,0.602564
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,4,4,4,5,2.0,NaN,0.166667,-1.281932,0.166667
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,5,1,4,54,46.0,NaN,0.666667,1.300439,0.666667
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,4,4,5,130,121.0,NaN,0.358974,-0.288712,0.358974
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,5,4,3,4,0,0.0,NaN,0.025641,-2.010293,0.025641

#### test 데이터에 추가된 age_mm_scaling 칼럼과 age_s_scaling 칼럼 확인하기

In [36]:
test.head()

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id,age_mm_scaling,age_s_scaling
0,1,Male,Loyal Customer,28,Business travel,Business,3414,2,2,2,...,5,4,4,4,2,0,0.0,40819.0,0.269231,-0.756647
1,16,Female,disloyal Customer,34,Business travel,Eco,2556,1,1,1,...,1,5,1,3,2,15,0.0,33335.0,0.346154,-0.359539
2,17,Female,Loyal Customer,23,Personal Travel,Eco,363,2,5,2,...,2,4,5,4,5,0,0.0,20749.0,0.205128,-1.087570
3,25,Male,Loyal Customer,55,Business travel,Business,2079,1,1,1,...,1,1,4,1,3,0,0.0,92194.0,0.615385,1.030338
4,27,Female,Loyal Customer,44,Business travel,Eco,192,2,4,5,...,2,1,5,1,1,23,13.0,13904.0,0.474359,0.302307